:root {
  --clr-text-main: #000e11;
  --clr-text-light: #adaa9c;
  --clr-text-white: #FBF5DE;
  --clr-background: #fffcf0;
  --clr-background-dark: #e7ceb6;
  --clr-accent: #0699aa;
  --clr-accent-light: #22aebe;
}




::-moz-selection {
  color: var(--clr-text-white);
  background: var(--clr-accent);
}
::selection {
  color: var(--clr-text-white);
  background: var(--clr-accent);
}
