
a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

button,
.button {
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;

  display: flex;
  gap: 0.75ch;
  justify-content: center;
  align-items: center;
  width: fit-content;

  padding-inline: 1.5ch;
  padding-block: 0.5lh;
  border: 2px solid currentColor;
}
.button {
  font-family: "Young Serif", serif;
  font-weight: 400;
  text-transform: lowercase;

  color: var(--clr-text-main);
  background: var(--clr-accent-light);

  transition-property: background-color;
  transition-duration: 150ms;
}
.button svg {
  transition: rotate 150ms;
}
.button:hover {
  background: var(--clr-accent);
}
.button:hover svg {
  rotate: -45deg;
}
