@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --ff-heading: "Young Serif", serif;
  --ff-body: "Instrument Sans", sans-serif;

  --fs-300: clamp(0.825rem, 2vw, 1rem);
  --fs-400: clamp(1rem, 2.5vw, 1.125rem);
  --fs-450: clamp(1.125rem, 3vw, 1.25rem);
  --fs-500: clamp(1.25rem, 4vw, 1.5rem);
  --fs-600: clamp(1.5rem, 5vw, 2rem);
  --fs-700: clamp(2.5rem, 8vw, 3.25rem);
  --fs-800: clamp(4.5rem, 15vw, 6rem);
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  line-height: 1.2;
}

.page-title,
.title,
.subtitle {
  font-family: var(--ff-heading);
  font-size: var(--fs-800);
  font-weight: 800;
  line-height: 1.1;
  color: var(--clr-text-main);
}
.title {
  font-size: var(--fs-700);
}
.subtitle {
  font-size: var(--fs-600);
}

.subtext {
  font-size: var(--fs-300);
}
