
.navbar {
  position: sticky;
  top: 0;

  padding-block: 1rem;
  color: var(--clr-text-main);
  background: var(--clr-background);

  border-top: 3px solid var(--clr-text-main);
  border-bottom: 3px solid var(--clr-text-main);
}
.navbar__left {
  display: flex;
  gap: 2rem;
  align-items: center;

  @media (max-width: 40rem) {
    gap: 1.25rem;
  }
}
.navbar__logo {
  font-family: var(--ff-heading);
  font-weight: 1000;
  font-size: 2.25rem;
  line-height: 1;
  user-select: none;
}
.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1000px;
  margin-inline: auto;
}
.navbar ul {
  position: relative;
  list-style: none;
  display: contents;

  text-transform: lowercase;
  font-weight: 500;
}
.navbar__spacer {
  height: 1.75rem;
  width: 2px;
  margin-inline: -0.5rem;
  background: var(--clr-text-main);
}
.navbar ul a {
  position: relative;
}
.navbar ul a::after {
  content: "";
  position: absolute;
  top: 105%;
  left: 0;

  width: 0;
  height: 2px;
  background: black;

  transition-property: width, translate;
  transition-duration: 150ms;
}
.navbar ul a:hover::after {
  width: 100%;
}





.footer {
  color: var(--clr-background);
  background: var(--clr-text-main);
}
.footer .title {
  color: inherit;
}
.footer__container {
  display: grid;
  gap: 1rem;
  justify-items: center;
  
  padding-block: 2rem;
}
.footer .title {
  margin-block-end: 4rem;
}

.footer a {
  transition: color 150ms;
}
.footer a:hover {
  color: var(--clr-accent-light);
}

.footer__row {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 30rem) {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
}
.footer ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-weight: 600;
  text-transform: lowercase;
}

.footer__socials {
  display: flex;
  gap: 1rem;
}
.footer__socials a svg {
  width: 1.25rem;
  height: 1.25rem;
}
.footer__bottom {
  width: 100%;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: none;
  margin-block-start: 1rem;

  @media (max-width: 30rem) {
    text-align: center;
  }
}

.home__container {
  display: grid;
  gap: 0.5rem;
  justify-items: center;

  padding-block: 2.5rem;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding-block: 5rem;

  width: 100%;
  height: 35rem;
}
.hero .title {
  text-align: left;
}
.hero ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 1.25rem;

  text-transform: lowercase;
}
.hero ul span {
  color: var(--clr-accent);
  font-weight: 1000;
  user-select: none;
}

.projects {
  background: var(--clr-background-dark);
  border-top: 4px solid var(--clr-text-main);
  border-bottom: 4px solid var(--clr-text-main);
}
.projects__intro {
  text-align: center;
}
.projects__list {
  display: grid;
  gap: 4rem;

  width: 100%;
  margin-inline: auto;
  margin-block: 2rem;
}

.project {
  display: grid;
  gap: 1rem;

  width: 100%;
}
.project__image {
  width: 100%;
  overflow: hidden;

  aspect-ratio: 16 / 10;
  background: #3332;

  border: 3px solid var(--clr-text-main);
}


.about__container {
  display: grid;
  gap: 2.5rem;

  margin-block: 2rem;
  width: min(100%, 700px);
  margin-inline: auto;
}
.about__section {
  display: grid;
  gap: 1rem;
}
.about__section .subtitle {
  font-family: var(--ff-body);
  font-weight: 400;
  text-transform: none;
}

.about a {
  font-weight: 600;
  transition: color 150ms;
}
.about a:hover {
  color: var(--clr-accent);
}


.contact__container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;

  background: var(--clr-background);
  border: 6px solid var(--clr-text-main);
  padding-inline: 2rem;
  padding-block: 1.5rem;

  margin-block: 2rem;
}
