
.navbar {
  position: sticky;
  top: 0;

  padding-block: 1rem;
  color: var(--clr-text-main);
  background: var(--clr-background);
}
.navbar__logo {
  font-family: var(--ff-heading);
  font-weight: 1000;
  font-size: 2.25rem;
  line-height: 1;
  user-select: none;
}
.navbar__logo span {
  display: none;
}
.navbar__logo:hover span {
  display: initial;
}
.navbar nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1000px;
  margin-inline: auto;
}
.navbar ul {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -40%;

  list-style: none;
  display: flex;
  gap: 3rem;

  text-transform: uppercase;
  font-weight: 500;
}
.navbar li:hover {
  text-decoration: underline;
}


.home__container {
  display: grid;
  gap: 0.5rem;
  justify-items: center;

  padding-block: 2.5rem;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding-block: 5rem;

  width: 100%;
  height: 35rem;
}
.hero .title {
  text-align: left;
}
.hero ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 1.25rem;

  text-transform: lowercase;
}
.hero ul span {
  color: var(--clr-accent);
  font-weight: 1000;
  user-select: none;
}

.projects {
  background: #d3c5b3;
}
.projects__list {
  display: grid;
  gap: 4rem;

  width: 100%;
  margin-inline: auto;
  margin-block: 2rem;
}

.project {
  display: grid;
  gap: 1rem;

  width: 100%;
}
.project__image {
  aspect-ratio: 16 / 9;

  background: #fff4;
}


.about__container {
  display: grid;
  gap: 2.5rem;

  margin-block: 2rem;
  width: min(100%, 700px);
  margin-inline: auto;
}
.about__section {
  display: grid;
  gap: 1rem;
}
.about__section .subtitle {
  font-family: var(--ff-body);
  font-weight: 400;
  text-transform: none;
}

.about a {
  font-weight: 600;
  transition: color 150ms;
}
.about a:hover {
  color: var(--clr-accent);
}
