<header class="navbar">
  <nav>
    <div class="navbar__left">
      <a class="navbar__logo" href="/">Jc</a>
  
      <span class="navbar__spacer"></span>

      <ul>
        <!-- <li><a href="/">Home</a></li> -->
        <li><a href="/projects">Projects</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>

    <a class="button" href="#contact">
      Get in touch
    </a>
  </nav>
</header>