<header class="navbar">
  <nav>
    <a class="navbar__logo" href="/">Jc</a>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About</a></li>
    </ul>

    <a class="button" href="#contact">
      Get in touch
    </a>
  </nav>
</header>