<section class="hero__container">
  <div class="hero">
    <h1 class="page-title">Joe Cupit</h1>
    <ul>
      <li>Python developer</li>
      <span>•</span>
      <li>Website designer</li>
      <span>•</span>
      <li>Mountain climber</li>
    </ul>
  </div>
</section>