---
import "../styles/index.css";
import "../styles/font.css";
import "../styles/colours.css";
import "../styles/layout.css";
import "../styles/components.css";

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" href="/favicon.ico" />

		<title>Joe Cupit</title>
	</head>
	<body>
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>